.body {
    margin-top: 128px;
}

/* div related styles */
.banner {
    padding: 197px 972px 0px 20px;
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;

}

.header-text {
    padding: 200px 0px 370px 340px;
}

.pera-styles {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-header {
    width: 700px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner .first-pic {
    width: 635px;
    height: 800px;

}

.btn-styles {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px 20px 43px;
}

.first-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding: 50px 240px 0px 600px;
}


/* main section styles */


.our-flowers {
    padding: 178px 764px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.sec-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sec-pic {
    width: 310px;
    height: 428px;
    display: flex;
    gap: 150px;
    padding: 0px 0px 67px 0px;
}

.pic-name1 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 32px 0px 0px 0px;
}

.pic-name2 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 88px 0px 0px 0px;
}

.pic-name3 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 25px 0px 0px 0px;

}


/* box styles created */

.box {
    width: 1450px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    position: relative;
    left: 650px;

}

.box-conti {
    display: flex;

}

.box-pic1 {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    text-align: center;
    padding: 86px 175px 0px 250px;
}

.box-pic2 {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    text-align: center;
    padding: 86px 165px 0px;
}

.box-pic3 {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    text-align: center;
    padding: 86px 155px 0px;
}

.box-name1 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding: 0px 0px 87px 35px;

}

.box-name2 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;

}

.box-name3 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    line-height: 35px;

}


/* 2nd banner created */

.banner2 {
    width: 3022px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    margin-top: 128px;
    display: flex;

}

.banner2-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 230px 962px 24px 423px;
}

.off {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.banner2-text {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 30px 40px 393px;
}

.btn-styles2 {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 603px;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 162px;
}

.button-text-styles {
    color: #FFF;
    font-size: 20px;
}

.banner2-pic {
    width: 318px;
    height: 420px;
    margin-left: 5px;
}


/* instagram styles created */
.insta {
    margin-top: 128px;
}

.insta-haed {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-text {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 663px 40px 1000px;
}

.insta-pic1 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    padding: 40px 24px 128px 550px;
}

.insta-pic2 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    padding: 40px 24px 128px 0px;
}

.insta-pic3 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    padding: 40px 24px 128px 0px;
}

.insta-pic4 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    padding: 40px 550px 128px 24px;
}



/* long picture boc created */

.picture {
    text-align: center;


}

.pic-conti {
    background-image: url("/images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin: 128px auto;

}

.long-pic {
    width: 1550px;
    height: 449px;
    flex-shrink: 0;
    padding: 0px 250px 128px 525px;


}

.pic-haed {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.pic-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.pic-input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;
}

.last-btn {
    position: absolute;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 128px;
}



/* footer created styles */



footer {
    margin-top: 128px;
}

.foot-banner {
    width: 2922px;
    height: 449px;
    background: #111010;
    text-align: center;
}

.foot-head {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding: 128px 832px 20px 831px;
}

.foot-text {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;

}

.shop {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.last-pera {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}